<div class="container">
	<div class="row">
		<div class="col-12">
			<h1>How Wave2Us helps travellers like you?</h1>

			<p class="lead">
				by <a href="about.html">Wave2Us team</a>
			</p>

			<hr>

			<div class="sqs-block html-block sqs-block-html" data-block-type="2"
				id="block-8f8d113dee5e1f824b96"
				style="position: relative; height: auto; padding: 0px 17px 17px; outline: none; box-shadow: rgba(128, 128, 128, 0) 0px 0px 0px 1px inset; transition: box-shadow 0.2s ease-in-out; clear: none; color: rgb(17, 17, 17); font-family: sans-serif; font-size: 16px;">
				<div class="sqs-block-content" id="yui_3_17_2_4_1501844692008_521"
					style="outline: none; cursor: auto;">
					<h3>
						<span style="font-family: arial, helvetica, sans-serif;">ADVANTAGES</span>
					</h3>
					<h3
						style="margin: 1em 0px 0.5em; font-family: Dosis; font-size: 20px; line-height: 1.2em; text-transform: uppercase; letter-spacing: 3px; font-weight: 400;">
						<span style="font-family: arial, helvetica, sans-serif;">1:
							SAVE TIME</span>
					</h3>
					<p style="word-wrap: break-word;">
						<span style="font-family: arial, helvetica, sans-serif;">Save
							a lot of time by delegating your trip planning to our Aces.
							&nbsp;No more late night research on places to go to!</span>
					</p>
					<h3
						style="margin: 1em 0px 0.5em; font-family: Dosis; font-size: 20px; line-height: 1.2em; text-transform: uppercase; letter-spacing: 3px; font-weight: 400;">
						<span style="font-family: arial, helvetica, sans-serif;">2:
							SAFETY</span>
					</h3>
					<p style="word-wrap: break-word;">
						<span style="font-family: arial, helvetica, sans-serif;">We
							require all of our Aces to provide you a contact number, and to
							show you how to get a local SIM card. During emergencies, having
							someone you can call to will make a huge difference. Besides, you
							will also know which areas are safe and which are not. Travel at
							ease, knowing that the Ace will always be on your back.</span>
					</p>
					<h3
						style="margin: 1em 0px 0.5em; font-family: Dosis; font-size: 20px; line-height: 1.2em; text-transform: uppercase; letter-spacing: 3px; font-weight: 400;">
						<span style="font-family: arial, helvetica, sans-serif;">3:
							SAVE MONEY</span>
					</h3>
					<p style="word-wrap: break-word;">
						<span style="font-family: arial, helvetica, sans-serif;">Local
							restaurants, hidden attractions to the locals, efficient way of
							transportation, best location for accommodation,&nbsp;or special
							events in the town -- all&nbsp;of these is only possible with the
							insider information from the Ace.</span>
					</p>
					<h3
						style="margin: 1em 0px 0.5em; font-family: Dosis; font-size: 20px; line-height: 1.2em; text-transform: uppercase; letter-spacing: 3px; font-weight: 400;">
						<span style="font-family: arial, helvetica, sans-serif;">4.
							DISCOVER HIDDEN GEMS</span>
					</h3>
					<p style="word-wrap: break-word;">
						<span style="font-family: arial, helvetica, sans-serif;">Where
							is the best place to have that local dish? Probably at some over
							hyped, overpriced place if you search the internet. Ask your Ace,
							and you will be pleasantly surprised by all the hidden gems to be
							discovered. There are a lot of interesting places that are only
							known to the locals&nbsp;and it can be difficult to find such
							information in&nbsp;the internet.</span>
					</p>
					<h3
						style="margin: 1em 0px 0.5em; font-family: Dosis; font-size: 20px; line-height: 1.2em; text-transform: uppercase; letter-spacing: 3px; font-weight: 400;">
						<span style="font-family: arial, helvetica, sans-serif;">5.
							LANGUAGE/CULTURE</span>
					</h3>
					<p style="word-wrap: break-word;">
						<span style="font-family: arial, helvetica, sans-serif;">Traveling
							to a place where the language is a barrier can be difficult. With
							the help of the Ace, this is no longer an issue! The Ace can also
							advise you on the cultural differences, so you can be more
							prepared.</span>
					</p>
					<h3
						style="margin: 1em 0px 0.5em; font-family: Dosis; font-size: 20px; line-height: 1.2em; text-transform: uppercase; letter-spacing: 3px; font-weight: 400;">
						<span style="font-family: arial, helvetica, sans-serif;">6.
							FLEXIBILITY</span>
					</h3>
					<p style="word-wrap: break-word;">
						<span style="font-family: arial, helvetica, sans-serif;">Sometimes,
							things just don&#39;t go the way you expect. Weather changes, or
							traffic problems, for example will hinder your itinerary.
							Fortunately, the Ace will be able to handle this crisis for you.</span>
					</p>
					<h3
						style="margin: 1em 0px 0.5em; font-family: Dosis; font-size: 20px; line-height: 1.2em; text-transform: uppercase; letter-spacing: 3px; font-weight: 400;">
						<span style="font-family: arial, helvetica, sans-serif;">7.
							TRUST</span>
					</h3>
					<p style="word-wrap: break-word;">
						<span style="font-family: arial, helvetica, sans-serif;">Not
							just anyone can be an Ace, we only invite those we deem
							trustworthy. We take your safety very seriously, and we don&#39;t
							want you to have a bad travelling experience.</span>
					</p>
					<h3>
						<span style="font-family: arial, helvetica, sans-serif;">INVITE
							ONLY POLICY</span>
					</h3>
					<p style="word-wrap: break-word;">
						<span style="font-family: arial, helvetica, sans-serif;">As
							travelers in a foreign land, we want to know that we are in good
							hands. There is no way of knowing if the guide is an honest
							person or harbors malicious intent, without knowing the person
							before. That is why we believe that an Invite Only policy will
							help to create a better and safer traveling experience, for you
							and also for the Ace.</span>
					</p>
					<p style="word-wrap: break-word;">
						<span style="font-family: arial, helvetica, sans-serif;">Our
							plan is to branch out from our own friends and family, and then
							form a community of trusted and honest Aces &amp; Enjoyers to
							provide a safe and secure traveling experience.&nbsp;</span>
					</p>
					<p style="word-wrap: break-word; margin-bottom: 0px;">
						<span style="font-family: arial, helvetica, sans-serif;">Do
							you know any of the Aces? Then join us!</span>
					</p>
				</div>
			</div>
			<div class="sqs-block html-block sqs-block-html" data-block-type="2"
				id="block-yui_3_17_2_3_1427876219614_5983"
				style="position: relative; height: auto; padding: 17px;">
				<div>
					<h3>
						<span>PAYMENT</span>
					</h3>
					<p>
						<span>For now, we are accepting bank transfers or PayPal.
							Be assured, as you know who we are, and we know you as well
							(invite only, remember?). We guarantee that you will have all the
							service (accommodation, transport...) as planned.</span>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>